#NPM
node_modules
npm-debug.log*
debug.log

#TypeScript
*.js
*.js.map
*.d.ts

#MJML
server/emails/**/*.html

#Webpack
!webpack.config.js

#Sass
*.css

#Test
coverage
.nyc_output

#Compiled code
build

#Configuration
.env

#Log files
*.log